<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wanako1 Kodi Wizard</h2>
                <hr class="light">
                <p class="text-faded">Wanako1 Kodi Wizard was created to help the kodi  community and help get one of the best wizard and builds that are  floating around.  As this is a work in progress i would highly recommend to try my wizard and/or any of the builds that I've created with effort and dedication to try to give the best at the moment.
Also in this website you can find Android and PC Apps, that has been tested by my self. I'm sharing with you something that really works and it's worth it.
Thanks everyone for your trust and future cooperation.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
